<?xml version="1.0" encoding="UTF-8"?>
 <Configuration>
    <Properties>
      <Property name="log-path">logs</Property>
      <Property name="filename">C:\\logs-giftService</Property>
	</Properties>
<Appenders>
    <File name="File" fileName="‪C:\logs-giftService\log4j2.log" >
        <PatternLayout>
            <pattern>
              [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </pattern>
        </PatternLayout>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
        <PatternLayout>
            <pattern>
            [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
            </pattern>>
        </PatternLayout>
    </Console>

</Appenders>
<Loggers>
    <Logger name="guru.springframework.blog.log4jproperties"  level="debug"  additivity="false">
        <AppenderRef ref="File"  level="info"/>
        <AppenderRef ref="STDOUT" level="debug"/>
    </Logger>
    <Root level="all">
        <AppenderRef ref="STDOUT"/>
    </Root>
</Loggers>
</Configuration>